.loading_folders {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
/* Add responsive design for layout */
@media (max-width: 1190px) {
  .loading_folders {
    grid-template-columns: repeat(11, 1fr);
  }
}
@media (max-width: 1090px) {
  .loading_folders {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media (max-width: 990px) {
  .loading_folders {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (max-width: 890px) {
  .loading_folders {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 790px) {
  .loading_folders {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (max-width: 690px) {
  .loading_folders {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 590px) {
  .loading_folders {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 490px) {
  .loading_folders {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 390px) {
  .loading_folders {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 290px) {
  .loading_folders {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 190px) {
  .loading_folders {
    grid-template-columns: repeat(1, 1fr);
  }
}
.loading_folder {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
/* Create Skelation animation for skeleton_cjklppchev2 class */
.skeleton_cjklppchev2 {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Create Skelation animation for skeleton_cjklppchev2 class */
.skeleton_cjklppchev2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.438),
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.438)
  );
  background-size: 200px 100%;
  animation: loading 2s infinite;
}
@keyframes loading {
  0% {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.438) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(0, 0, 0, 0.438) 100%
    );
  }
  50% {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.438) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(0, 0, 0, 0.438) 100%
    );
    background-position: -200px 0;
  }
}
